1. На проверку принимаются исходники с расширением *.py. Формат имени файла - LastName_FirstName_Task_N.py.
2. Все исходники в один архив LastName_FirstName.zip.
3. Первая строчка в каждом исходнике – комментарий с ФИО автора.
4. Обязательным является соблюдение PEP8.
